.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
}


.App-link {
  color: #61dafb;
}

img { 
  max-width:400px; 
  max-height: 300px;
  height:auto; 
} 
